<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="header">
      <h1 class="title">[Шапка профиля]</h1>
    </div>
    <div class="main">
      <div class="box">
        <h2 class="title">[Основная часть]</h2>
        <div class="conteiner">
          <p class="content">[Еще 1]</p>
          <p class="content">[Еще 2]</p>
          <p class="content">[Еще 3]</p>
        </div>
      </div>
      <div class="box">
        <h3 class="title">[Боковая область]</h3>
      </div>
    </div>
    <div class="footer">
      <p class="section">[Секция футера 1]</p>
      <p class="section">[Секция футера 2]</p>
      <p class="section">[Секция футера 3]</p>
      <p class="section">[Секция футера 4]</p>
    </div>
  </body>
</html>
